#Number of file patterns (replace 'x' with required number)
No. of file patterns:	1
#Number of file (replace 'y' with required number)
No. of files:	2
#Number of files to be dropped at once (replace 'z' with required number)
No. of files per drop:	1
#Time interval to wait in seconds (if fixed, then put same values for minimum and maximum time, if random between a range, enter range)
Minimum time:	5	Maximum time:	10
#Size of file (replace 's' with required size in MB)
Size of each of file:	5
#Specify format of the metadata file (put the format with dot(.) as prefix in the quotes provided, empty quotes('') for none)
Metadata file:	".meta"
#Specify format of the control file (put the format with dot(.) as prefix in the quotes provided, empty quotes('') for none)
Control file:	".ctl"
#Specify format of the trigger file (put the format with dot(.) as prefix in the quotes provided, empty quotes('') for none)
Trigger file:	".done"
